//
// Main Carousel Section
//

.main_carousel {
  @include margin-top-large;
  @include margin-bottom-medium;
}

.main-carousel-content__title {
  @include font--huge;
  text-transform: uppercase;
}

.main-carousel-content__season {
  @include font--huge;
}

.blob {

  shape-outside: url(‘images/blobs/blob_test.png’);
  float:left;
}

.blob-2 {
  shape-outside: url(‘images/blobs/blob_test.png’);
  float:right;
}

.blob-2 img {
  position: relative;
  top: 100px;
  left: 50px;
}
