//
// Main Nav
//

.main-nav {
  position: fixed;
  background: white;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 80px;
  overflow: hidden;
  width: 100%;

}

.site-title {
  @include default-link;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.main-nav__inner-wrapper {
  transition: 0.25s ease-in-out;
  transform: translateY(-140px);
}

.main-nav__inner-wrapper.active {
 transform: translateY(0px);
}

ul#menu-primary-menu-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu-primary-menu-links li {
  display: inline-block;
  text-transform: uppercase;
}

#menu-primary-menu-links li a {
  @include default-link;
}