//
// People Section
//

.people {
  @include margin-bottom-huge;
}

.person-item__wrapper {
  @include margin-bottom-medium;
}

.artist__bio {
 @include margin-bottom-medium;
}

.artist__image-wrapper{
  @include default-flickity-style;
  overflow: hidden;
}

.artist__image {
  width: 100%;
  overflow: hidden;
  img {
    width:100%;
  }
}
