.support-button-wrapper {
  position: relative;
}

.support-button-link {
  color: $white !important;
}

.support-button-link {
  position: absolute;
  top: 45%;
  left:43%;
  transform: translate(-50%, -50%);
}

.support-button-wrapper svg {
  padding: 2px;
}

.support-blob__inner-group{
  fill:$black !important;

  &:hover {
    fill:$white !important;
    stroke: $black !important;
    stroke-width: 3px;
  }
}

