@font-face {
  font-family: 'Founders Light';
  src: url('fonts/founders_light/FoundersGroteskWeb-Light.eot');
  src: url('fonts/founders_light/FoundersGroteskWeb-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/founders_light/FoundersGroteskWeb-Light.woff2') format('woff2'),
    url('fonts/founders_light/FoundersGroteskWeb-Light.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Light Italic';
  src: url('fonts/founders_light_italic/FoundersGroteskWeb-LightItalic.eot');
  src: url('fonts/founders_light_italic/FoundersGroteskWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/founders_light_italic/FoundersGroteskWeb-LightItalic.woff2') format('woff2'),
    url('fonts/founders_light_italic/FoundersGroteskWeb-LightItalic.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}