///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

// Font stacks
$font-stack__regular : 'Founders Light',sans-serif;
$font-stack__italic : 'Founders Light Italic',sans-serif;


///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

// Regular
@mixin font--large {
  font-family: $font-stack__regular;
  font-size:      100px;
  line-height:    100px;
}


@mixin font--regular {
  font-family: $font-stack__regular;
  font-size:      39px;
  line-height:    39px;
  letter-spacing: 0.025rem;
}

@mixin font--small {
  font-family: $font-stack__regular;
  font-size:      31px;
  line-height:    31px;
  letter-spacing: 0.025rem;
}


// Regular
@mixin font--regular--italic {
  font-family: $font-stack__italic;
  font-size:      39px;
  line-height:    39px;
  letter-spacing: 0.025rem;
}
