/////////////////////////////////////////////////////////////////////////
//
// Variables
//
/////////////////////////////////////////////////////////////////////////

// Colors
$black: #352626;
$white: #fff;

// Fonts stacks

// Font settings

// Sizes


// Transitions
$tt: 0.2s;
